<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my0510">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".account.AccountAdd"></activity>
        <activity android:name=".account.AccountList" />
        <activity android:name=".account.AccountDescActivity" />
        <activity android:name=".assets.AssetsList" />
        <activity android:name=".assets.AssetsDescActivity" />
        <activity android:name=".assets.AssetsAddActivity" />
        <activity android:name=".aboutme.SettingActivity" />
        <activity android:name=".aboutme.ModifyPwdActivity" />
        <activity android:name=".aboutme.MyInfoView" />
        <activity android:name=".login.LoginActivity">

          </activity>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.SplashActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>